---
layout: default
---

<div class="home">

  <h1 class="page-heading">Table of Contents</h1>

  <ul class="post-list">
    {% for page in site.pages %}
      {% if page.title %}
      <li>
        <h2>
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p>Note to dearest JarJar: This will be organized better. This is just a quick hack to make sure you can keep working.</p>

</div>
